body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('./john-mcarthur-1BRYdVhFnqc-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    text-align: center;
}

.form-container {
    margin-bottom: 20px;
}

input, button, select {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

#user-bookings {
    margin-top: 20px;
}
